body {
    padding-bottom: 40px;
    padding-top: 70px;
}

code, pre {
    color: #333;
}

section {
    padding-top: 42px;
}

/* Make tables spaced out a bit more */
h2 + table,
h3 + table,
h4 + table,
h2 + .row {
  margin-top: 5px;
}
